<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Documentation of WhatsApp Cloud API Business Interaction module for Perfex CRM</title>
      <!-- Meta -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="Documentation of WhatsApp Cloud API Business Interaction module for Perfex CRM">
      <meta name="author" content="Themesic Interactive">
      <link rel="shortcut icon" href="favicon.png">
      <!-- Google Font -->
      <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet">
      <!-- FontAwesome JS-->
      <script defer src="assets/fontawesome/js/all.min.js"></script>
      <!-- Plugins CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.2/styles/atom-one-dark.min.css">
      <!-- Theme CSS -->
      <link id="theme-style" rel="stylesheet" href="assets/css/theme.css">
   </head>
   <body class="docs-page">
      <header class="header fixed-top">
         <div class="branding docs-branding">
            <div class="container-fluid position-relative py-2">
               <div class="docs-logo-wrapper">
                  <button id="docs-sidebar-toggler" class="docs-sidebar-toggler docs-sidebar-visible me-2 d-xl-none" type="button"> <span></span> <span></span> <span></span> </button>
                  <div class="site-logo">
                     <a class="navbar-brand" href="https://1.envato.market/themesic"><img class="logo-icon me-2" src="assets/images/logohd.png" alt="logo" width=48></a>WhatsApp Cloud API Chat Module's Documentation
                  </div>
               </div>
               <!--//docs-logo-wrapper-->
               <div class="docs-top-utilities d-flex justify-content-end align-items-center">
                  <ul class="social-list list-inline mx-md-3 mx-lg-5 mb-0 d-none d-lg-flex"> <a href="https://1.envato.market/themesic" class="btn btn-primary d-none d-lg-flex">Purchase it</a> </ul>
                  <!--//social-list--><a href="https://themesic.com/support/" class="btn btn-primary d-none d-lg-flex">Get Support</a> 
               </div>
               <!--//docs-top-utilities-->
            </div>
            <!--//container-->
         </div>
         <!--//branding-->
      </header>
      <!--//header-->
      <div class="docs-wrapper">
         <div id="docs-sidebar" class="docs-sidebar">
            <br>
            <nav id="docs-nav" class="docs-nav navbar">
               <ul class="section-items list-unstyled nav flex-column pb-3">
                  <li class="nav-item section-title"><a class="nav-link scrollto" href="#section-1"><span class="theme-icon-holder me-2"><i class="fas fa-map-signs"></i></span>Introduction</a></li>
                  <li class="nav-item"><a class="nav-link scrollto" href="#item-1-3">Dependencies</a></li>
                  <li class="nav-item section-title mt-3"><a class="nav-link scrollto" href="#section-2"><span class="theme-icon-holder me-2"><i class="fas fa-cogs"></i></span>Installation</a></li>
                  <li class="nav-item"><a class="nav-link scrollto" href="#item-2-1">Procedure</a></li>
                  <li class="nav-item section-title mt-3"><a class="nav-link scrollto" href="#section-3"><span class="theme-icon-holder me-2"><i class="fas fa-tools"></i></span>Configuration</a></li>
                  <li class="nav-item"><a class="nav-link scrollto" href="#item-3-1">Facebook Developers Account</a></li>
                  <li class="nav-item"><a class="nav-link scrollto" href="#item-3-2">Facebook Application</a></li>
                  <li class="nav-item"><a class="nav-link scrollto" href="#item-3-3">Connect Your Phone Number</a></li>
                  <li class="nav-item"><a class="nav-link scrollto" href="#item-3-4">Module's Settings</a></li>
               </ul>
            </nav>
            <!--//docs-nav-->
         </div>
         <!--//docs-sidebar-->
         <div class="docs-content">
            <div class="container">
               <article class="docs-article" id="section-1">
                  <header class="docs-header">
                  <center><img style="max-width:100%;" src="assets/images/main.jpg" alt="WhatsApp Cloud API Interaction module for Perfex"></center>
                  <br>
                  <br>
                  <h1 class="docs-heading">Introduction <span class="docs-time">WhatsApp Cloud API Interaction module</span></h1>
                  <section class="docs-intro">
                     <p><strong>Thank you</strong> for purchasing WhatsApp Cloud API Interaction module for Perfex CRM.
                        <br><br>
                        Our Communication Module seamlessly integrates with Perfex CRM, empowering your staff members to communicate directly with clients in real-time, all within the familiar Perfex dashboard environment. No more toggling between multiple platforms or wasting time searching for contact details – everything you need is right at your fingertips.
                        <br>
                     </p>
                  </section>
                  <section class="docs-section" id="item-1-3">
                     <h2 class="section-heading">Dependencies</h2>
                     <p>
                     <li>You need to own a <strong>Facebook Developers Account</strong>.<br>Not sure how to create one? Check out the screenshots at the <a href="#section-3">Configuration</a> section.</li>
                     <li>You need to create <strong>Facebook App</strong> through a Facebook Verified (or unverified) Business / Individual account.<br>Not sure how to create one? Check out the screenshots at the <a href="#section-3">Configuration</a> section.</li>
                     </li><br>You can skip verification of your Facebook Business used for sending messages, but in this case, you will be limited to <a href="https://developers.facebook.com/docs/whatsapp/messaging-limits" target="_blank">WhatsApp Messaging limits</a>.<br>Learn how to increase this limit <a href="https://www.facebook.com/business/help/2640149499569241" target="_blank">here</a>.
                     </p>
                  </section>
               </article>
               <article class="docs-article" id="section-2">
                  <header class="docs-header">
                     <h1 class="docs-heading">Installation</h1>
                     <section class="docs-section" id="item-2-0">
                        It takes only <strong>a few seconds</strong> to be installed and activated. <strong>Follow the steps below</strong>, in order to ensure that you will go smooth through installing/activating process.
                        <p>If you have any questions, feel free to raise a support ticket at our <a href="https://themesic.com/clients" target="_blank">Support Area</a>.<br>Guys from support department will get back to you as soon as possible with a reply.</p>
                     </section>
                  </header>
                  <section class="docs-section" id="item-2-1">
                     <h2 class="section-heading">Installation Steps</h2>
                     <li>Extract your downloaded file contens. You will notice a folder called <b>"documentation"</b> and a new zip file, called <b>"upload.zip"</b>. Since <b>"documentation"</b> folder contains this readme file and helpful instructions that are not needed in your Perfex CRM's installation, we will focus on the <b>"upload.zip"</b> file.<br><br><img style="max-width:100%;" src="assets/images/1.png" /></li>
                     <br>
                     <li><b>"upload.zip"</b> contains the module files (in a module format) that you upload in Perfex CRM's Modules installation section.
                        <br><br><img style="max-width:100%;" src="assets/images/2.png" />
                     </li>
                     <br>
                     <li>Go to your Perfex CRM's Admin area and select the following menu item: <b>SETUP > MODULES</b>.<br><br/><img style="max-width:100%;" src="assets/images/3.png" /></li>
                     <br>
                     <li>Select the extracted <b>upload.zip</b> at Module installation selection prompt and press <b>INSTALL</b>.</li>
                     <br/><img style="max-width:100%;" src="assets/images/4.png" />
                     <br>
                     <li>Find the newly installed module and press <b>ACTIVATE</b>.
                        <br/><img style="max-width:100%;" src="assets/images/5.png" />
                     </li>
                     <br>
                     <li>You will be told that module is successfully activated.</li>
                     <br><strong>That's it!</strong><br><br>You will be told that module is successfully activated, after entering your License Key.<br><br>
                     <br><br><br>
                  </section>
               </article>
               <article class="docs-article" id="section-3">
                  <header class="docs-header">
                     <h1 class="docs-heading">Configuration</h1>
                     <section class="docs-intro">
                        <p><br>Our team provides screenshots for every single step of the configuration process.<br>Please ensure that you follow each step of the screenshots. If you have any questions, feel free to raise a support ticket at our <a href="https://themesic.com/clients" target="_blank">Support Area</a></p>
                     </section>
                  </header>
                  <section class="docs-section" id="item-3-1">
                     <h2 class="section-heading">Facebook Developers Account</h2>
                     How to sign up for a Facebook Developers Account
                     <hr>
                     1. Login to your Facebook account and navigate to <a href="https://developers.facebook.com">Developers Section</a>
                     <br>
                     Click on Get Started button from top right corner.<br><br><img style="max-width:100%;" src="assets/images/7.png"><br><br>
                     <br>2.	Click on next button from the popup<br><br><img style="max-width:100%;" src="assets/images/8.png"><br><br>
                     <br>3.	Enter your phone number and verify your account using text message or phone call.<br><br><img style="max-width:100%;" src="assets/images/9.png"><br><br>
                     <br>4.	It may be needed to verify your account again.<br><br><img style="max-width:100%;" src="assets/images/10.png"><br><br>
                     <br>5.	Then enter verification code you got and click on the Verify button.<br><br><img style="max-width:100%;" src="assets/images/11.png"><br><br>
                     <br>6.	On the next screen, after verifying your account, 3rd step is to tell about you. Select Developer option here and no further steps will be required.<br><br><img style="max-width:100%;" src="assets/images/12.png"><br><br>
                  </section>
                  <section class="docs-section" id="item-3-2">
                     <h2 class="section-heading">Facebook Application Creation</h2>
                     Please follow the steps below, so you can create a Facebook Application for the module
                     <hr>
                     <br>How to create a <strong>Facebook Application</strong>:
                     <br><br>

					 
<div class="[&amp;>*+*]:mt-5 grid whitespace-pre-wrap">
    <ol class="space-y-2 flex flex-col [&amp;>li]:gap-[1ch] [counter-reset:list-decimal] [&amp;>li]:flex [&amp;>li]:flex-row [&amp;>li>.bullet]:tabular-nums [&amp;>li>.bullet]:whitespace-nowrap [&amp;>li>.bullet]:list-decimal [&amp;>li>.bullet]:before:h-[1lh] [&amp;>li>.bullet]:before:leading-[inherit] [&amp;>li>.bullet]:before:flex [&amp;>li>.bullet]:text-dark/6 [&amp;>li>div_div]:mt-0 dark:[&amp;>li>.bullet]:text-light/6 max-w-3xl w-full mx-auto decoration-primary/6 page-api-block:ml-0">
        <li value="1" class="leading-normal">
            <div data-value="1" class="bullet ListItem_olListItemBullet__9X19L text-base"></div>
            <div class="space-y-2 flex-1 flex flex-col">
                <p class="max-w-3xl w-full mx-auto decoration-primary/6 leading-normal min-h-[1lh] flip-heading-hash">Sign up or log in to the Facebook for Developers account and click on Create App.</p>
            </div>
        </li>
    </ol>
    <div class="max-w-3xl w-full mx-auto decoration-primary/6 page-api-block:ml-0 flex flex-row gap-3 justify-center">
        <div class="relative overflow-hidden rounded straight-corners:rounded-none after:block after:absolute after:-inset-[0] after:border-dark/2 after:border after:rounded straight-corners:after:rounded-none dark:after:border-light/1 dark:after:mix-blend-plus-lighter after:pointer-events-none w-fit">
<a href=""><img src="assets/images/Screenshot_d1.png" style="max-width:100%"></a><br><br><br></div>
    </div>
    <ol class="space-y-2 flex flex-col [&amp;>li]:gap-[1ch] [counter-reset:list-decimal] [&amp;>li]:flex [&amp;>li]:flex-row [&amp;>li>.bullet]:tabular-nums [&amp;>li>.bullet]:whitespace-nowrap [&amp;>li>.bullet]:list-decimal [&amp;>li>.bullet]:before:h-[1lh] [&amp;>li>.bullet]:before:leading-[inherit] [&amp;>li>.bullet]:before:flex [&amp;>li>.bullet]:text-dark/6 [&amp;>li>div_div]:mt-0 dark:[&amp;>li>.bullet]:text-light/6 max-w-3xl w-full mx-auto decoration-primary/6 page-api-block:ml-0">
        <li value="2" class="leading-normal">
            <div data-value="2" class="bullet ListItem_olListItemBullet__9X19L text-base"></div>
            <div class="space-y-2 flex-1 flex flex-col">
                <p class="max-w-3xl w-full mx-auto decoration-primary/6 leading-normal min-h-[1lh] flip-heading-hash">Sign up or log in to the Facebook developer account and click on Create App 2. Select Business as your app type. </p>
            </div>
        </li>
    </ol>
    <div class="max-w-3xl w-full mx-auto decoration-primary/6 page-api-block:ml-0 flex flex-row gap-3 justify-center">
        <div class="relative overflow-hidden rounded straight-corners:rounded-none after:block after:absolute after:-inset-[0] after:border-dark/2 after:border after:rounded straight-corners:after:rounded-none dark:after:border-light/1 dark:after:mix-blend-plus-lighter after:pointer-events-none w-fit">
<a href=""><img src="assets/images/Screenshot_d2.png" style="max-width:100%"></a><br><br><br></div>    </div>
    <ol class="space-y-2 flex flex-col [&amp;>li]:gap-[1ch] [counter-reset:list-decimal] [&amp;>li]:flex [&amp;>li]:flex-row [&amp;>li>.bullet]:tabular-nums [&amp;>li>.bullet]:whitespace-nowrap [&amp;>li>.bullet]:list-decimal [&amp;>li>.bullet]:before:h-[1lh] [&amp;>li>.bullet]:before:leading-[inherit] [&amp;>li>.bullet]:before:flex [&amp;>li>.bullet]:text-dark/6 [&amp;>li>div_div]:mt-0 dark:[&amp;>li>.bullet]:text-light/6 max-w-3xl w-full mx-auto decoration-primary/6 page-api-block:ml-0">
        <li value="3" class="leading-normal">
            <div data-value="3" class="bullet ListItem_olListItemBullet__9X19L text-base"></div>
            <div class="space-y-2 flex-1 flex flex-col">
                <p class="max-w-3xl w-full mx-auto decoration-primary/6 leading-normal min-h-[1lh] flip-heading-hash">Provide basic information about your business. If you don’t have a Business Manager account, you may leave it unselected. Click Create app. You will be directed to your Meta dashboard.</p>
            </div>
        </li>
    </ol>
    <div class="max-w-3xl w-full mx-auto decoration-primary/6 page-api-block:ml-0 flex flex-row gap-3 justify-center">
        <div class="relative overflow-hidden rounded straight-corners:rounded-none after:block after:absolute after:-inset-[0] after:border-dark/2 after:border after:rounded straight-corners:after:rounded-none dark:after:border-light/1 dark:after:mix-blend-plus-lighter after:pointer-events-none w-fit">
<a href=""><img src="assets/images/Screenshot_d3.png" style="max-width:100%"></a><br><br><br></div>    </div>
    <p class="max-w-3xl w-full mx-auto decoration-primary/6 page-api-block:ml-0"><strong class="font-bold">Provide basic information about your business. </strong></p>
    <ol class="space-y-2 flex flex-col [&amp;>li]:gap-[1ch] [counter-reset:list-decimal] [&amp;>li]:flex [&amp;>li]:flex-row [&amp;>li>.bullet]:tabular-nums [&amp;>li>.bullet]:whitespace-nowrap [&amp;>li>.bullet]:list-decimal [&amp;>li>.bullet]:before:h-[1lh] [&amp;>li>.bullet]:before:leading-[inherit] [&amp;>li>.bullet]:before:flex [&amp;>li>.bullet]:text-dark/6 [&amp;>li>div_div]:mt-0 dark:[&amp;>li>.bullet]:text-light/6 max-w-3xl w-full mx-auto decoration-primary/6 page-api-block:ml-0">
        <li value="4" class="leading-normal">
            <div data-value="4" class="bullet ListItem_olListItemBullet__9X19L text-base"></div>
            <div class="space-y-2 flex-1 flex flex-col">
                <p class="max-w-3xl w-full mx-auto decoration-primary/6 leading-normal min-h-[1lh] flip-heading-hash"> Scroll down until you see WhatsApp and click Set up.</p>
            </div>
        </li>
    </ol>
    <div class="max-w-3xl w-full mx-auto decoration-primary/6 page-api-block:ml-0 flex flex-row gap-3 justify-center">
        <div class="relative overflow-hidden rounded straight-corners:rounded-none after:block after:absolute after:-inset-[0] after:border-dark/2 after:border after:rounded straight-corners:after:rounded-none dark:after:border-light/1 dark:after:mix-blend-plus-lighter after:pointer-events-none w-fit">
<a href=""><img src="assets/images/Screenshot_d4.png" style="max-width:100%"></a><br><br><br></div>    </div>
    <ol class="space-y-2 flex flex-col [&amp;>li]:gap-[1ch] [counter-reset:list-decimal] [&amp;>li]:flex [&amp;>li]:flex-row [&amp;>li>.bullet]:tabular-nums [&amp;>li>.bullet]:whitespace-nowrap [&amp;>li>.bullet]:list-decimal [&amp;>li>.bullet]:before:h-[1lh] [&amp;>li>.bullet]:before:leading-[inherit] [&amp;>li>.bullet]:before:flex [&amp;>li>.bullet]:text-dark/6 [&amp;>li>div_div]:mt-0 dark:[&amp;>li>.bullet]:text-light/6 max-w-3xl w-full mx-auto decoration-primary/6 page-api-block:ml-0">
        <li value="5" class="leading-normal">
            <div data-value="5" class="bullet ListItem_olListItemBullet__9X19L text-base"></div>
            <div class="space-y-2 flex-1 flex flex-col">
                <p class="max-w-3xl w-full mx-auto decoration-primary/6 leading-normal min-h-[1lh] flip-heading-hash">Click Continue to accept WhatsApp Cloud API’s terms and conditions. If you left your Business Manager account unselected in step 3, you may leave your Business Account unselected here and Facebook will automatically create a business account
                    later.</p>
            </div>
        </li>
    </ol>
    <div class="max-w-3xl w-full mx-auto decoration-primary/6 page-api-block:ml-0 flex flex-row gap-3 justify-center">
        <div class="relative overflow-hidden rounded straight-corners:rounded-none after:block after:absolute after:-inset-[0] after:border-dark/2 after:border after:rounded straight-corners:after:rounded-none dark:after:border-light/1 dark:after:mix-blend-plus-lighter after:pointer-events-none w-fit">
<a href=""><img src="assets/images/Screenshot_d5.png" style="max-width:100%"></a><br><br><br></div>    </div>
    <ol class="space-y-2 flex flex-col [&amp;>li]:gap-[1ch] [counter-reset:list-decimal] [&amp;>li]:flex [&amp;>li]:flex-row [&amp;>li>.bullet]:tabular-nums [&amp;>li>.bullet]:whitespace-nowrap [&amp;>li>.bullet]:list-decimal [&amp;>li>.bullet]:before:h-[1lh] [&amp;>li>.bullet]:before:leading-[inherit] [&amp;>li>.bullet]:before:flex [&amp;>li>.bullet]:text-dark/6 [&amp;>li>div_div]:mt-0 dark:[&amp;>li>.bullet]:text-light/6 max-w-3xl w-full mx-auto decoration-primary/6 page-api-block:ml-0">
        <li value="6" class="leading-normal">
            <div data-value="6" class="bullet ListItem_olListItemBullet__9X19L text-base"></div>
            <div class="space-y-2 flex-1 flex flex-col">
                <p class="max-w-3xl w-full mx-auto decoration-primary/6 leading-normal min-h-[1lh] flip-heading-hash">Click Continue to accept WhatsApp Cloud API Terms and Conditions </p>
            </div>
        </li>
        <li value="7" class="leading-normal">
            <div data-value="7" class="bullet ListItem_olListItemBullet__9X19L text-base"></div>
            <div class="space-y-2 flex-1 flex flex-col">
                <p class="max-w-3xl w-full mx-auto decoration-primary/6 leading-normal min-h-[1lh] flip-heading-hash">Send a message with the test number generated by WhatsApp to your personal or business WhatsApp number to test if your chat is a success.</p>
            </div>
        </li>
    </ol>
    <div class="max-w-3xl w-full mx-auto decoration-primary/6 page-api-block:ml-0 flex flex-row gap-3 justify-center">
        <div class="relative overflow-hidden rounded straight-corners:rounded-none after:block after:absolute after:-inset-[0] after:border-dark/2 after:border after:rounded straight-corners:after:rounded-none dark:after:border-light/1 dark:after:mix-blend-plus-lighter after:pointer-events-none w-fit">
<a href=""><img src="assets/images/Screenshot_d6.png" style="max-width:100%"></a><br><br><br></div>    </div>
    <p class="max-w-3xl w-full mx-auto decoration-primary/6 page-api-block:ml-0">Send a message with the test number generated by WhatsApp. Next, we’ll show you how to add your phone number to your WhatsApp Cloud API account.</p>
</div>				 
					 </section>
                  <br>
                  <br>
                  <section class="docs-section" id="item-3-3">
                     <h2 class="section-heading">Connect Your Phone Number</h2>
                     Here are the needed steps in order to connect your Phone Number:
                     <hr>
<div class="[&amp;>*+*]:mt-5 grid whitespace-pre-wrap">
    <ol class="space-y-2 flex flex-col [&amp;>li]:gap-[1ch] [counter-reset:list-decimal] [&amp;>li]:flex [&amp;>li]:flex-row [&amp;>li>.bullet]:tabular-nums [&amp;>li>.bullet]:whitespace-nowrap [&amp;>li>.bullet]:list-decimal [&amp;>li>.bullet]:before:h-[1lh] [&amp;>li>.bullet]:before:leading-[inherit] [&amp;>li>.bullet]:before:flex [&amp;>li>.bullet]:text-dark/6 [&amp;>li>div_div]:mt-0 dark:[&amp;>li>.bullet]:text-light/6 max-w-3xl w-full mx-auto decoration-primary/6 page-api-block:ml-0">
        <li value="1" class="leading-normal">
            <div data-value="1" class="bullet ListItem_olListItemBullet__9X19L text-base"></div>
            <div class="space-y-2 flex-1 flex flex-col">
                <p class="max-w-3xl w-full mx-auto decoration-primary/6 leading-normal min-h-[1lh] flip-heading-hash">Click Add Phone Number to connect a phone number to your WhatsApp Cloud API account.</p>
            </div>
        </li>
    </ol>
    <div class="max-w-3xl w-full mx-auto decoration-primary/6 page-api-block:ml-0 flex flex-row gap-3 justify-center">
        <div class="relative overflow-hidden rounded straight-corners:rounded-none after:block after:absolute after:-inset-[0] after:border-dark/2 after:border after:rounded straight-corners:after:rounded-none dark:after:border-light/1 dark:after:mix-blend-plus-lighter after:pointer-events-none w-fit">
<a href=""><img src="assets/images/Screenshot_d7.png" style="max-width:100%"></a><br><br><br></div>
    </div>
    <p class="max-w-3xl w-full mx-auto decoration-primary/6 page-api-block:ml-0"><strong class="font-bold">Connect a phone number to your WhatsApp Cloud API account.</strong> </p>
    <ol class="space-y-2 flex flex-col [&amp;>li]:gap-[1ch] [counter-reset:list-decimal] [&amp;>li]:flex [&amp;>li]:flex-row [&amp;>li>.bullet]:tabular-nums [&amp;>li>.bullet]:whitespace-nowrap [&amp;>li>.bullet]:list-decimal [&amp;>li>.bullet]:before:h-[1lh] [&amp;>li>.bullet]:before:leading-[inherit] [&amp;>li>.bullet]:before:flex [&amp;>li>.bullet]:text-dark/6 [&amp;>li>div_div]:mt-0 dark:[&amp;>li>.bullet]:text-light/6 max-w-3xl w-full mx-auto decoration-primary/6 page-api-block:ml-0">
        <li value="2" class="leading-normal">
            <div data-value="2" class="bullet ListItem_olListItemBullet__9X19L text-base"></div>
            <div class="space-y-2 flex-1 flex flex-col">
                <p class="max-w-3xl w-full mx-auto decoration-primary/6 leading-normal min-h-[1lh] flip-heading-hash">Fill in your business information and click Next</p>
            </div>
        </li>
    </ol>
    <div class="max-w-3xl w-full mx-auto decoration-primary/6 page-api-block:ml-0 flex flex-row gap-3 justify-center">
        <div class="relative overflow-hidden rounded straight-corners:rounded-none after:block after:absolute after:-inset-[0] after:border-dark/2 after:border after:rounded straight-corners:after:rounded-none dark:after:border-light/1 dark:after:mix-blend-plus-lighter after:pointer-events-none w-fit">
<a href=""><img src="assets/images/Screenshot_d8.png" style="max-width:100%"></a><br><br><br></div>
    </div>
    <p class="max-w-3xl w-full mx-auto decoration-primary/6 page-api-block:ml-0"><strong class="font-bold">Fill in your WhatsApp business profile information and click Next. </strong></p>
    <ol class="space-y-2 flex flex-col [&amp;>li]:gap-[1ch] [counter-reset:list-decimal] [&amp;>li]:flex [&amp;>li]:flex-row [&amp;>li>.bullet]:tabular-nums [&amp;>li>.bullet]:whitespace-nowrap [&amp;>li>.bullet]:list-decimal [&amp;>li>.bullet]:before:h-[1lh] [&amp;>li>.bullet]:before:leading-[inherit] [&amp;>li>.bullet]:before:flex [&amp;>li>.bullet]:text-dark/6 [&amp;>li>div_div]:mt-0 dark:[&amp;>li>.bullet]:text-light/6 max-w-3xl w-full mx-auto decoration-primary/6 page-api-block:ml-0">
        <li value="4" class="leading-normal">
            <div data-value="4" class="bullet ListItem_olListItemBullet__9X19L text-base"></div>
            <div class="space-y-2 flex-1 flex flex-col">
                <p class="max-w-3xl w-full mx-auto decoration-primary/6 leading-normal min-h-[1lh] flip-heading-hash"> Add a phone number for your WhatsApp Cloud API. Note that the number you add cannot be tied to an existing WhatsApp account.</p>
            </div>
        </li>
    </ol>
    <div class="max-w-3xl w-full mx-auto decoration-primary/6 page-api-block:ml-0 flex flex-row gap-3 justify-center">
        <div class="relative overflow-hidden rounded straight-corners:rounded-none after:block after:absolute after:-inset-[0] after:border-dark/2 after:border after:rounded straight-corners:after:rounded-none dark:after:border-light/1 dark:after:mix-blend-plus-lighter after:pointer-events-none w-fit">
<a href=""><img src="assets/images/Screenshot_d9.png" style="max-width:100%"></a><br><br><br></div>
    </div>
    <p class="max-w-3xl w-full mx-auto decoration-primary/6 page-api-block:ml-0"><strong class="font-bold">Add a phone number for your WhatsApp Cloud API</strong> </p>
    <ol class="space-y-2 flex flex-col [&amp;>li]:gap-[1ch] [counter-reset:list-decimal] [&amp;>li]:flex [&amp;>li]:flex-row [&amp;>li>.bullet]:tabular-nums [&amp;>li>.bullet]:whitespace-nowrap [&amp;>li>.bullet]:list-decimal [&amp;>li>.bullet]:before:h-[1lh] [&amp;>li>.bullet]:before:leading-[inherit] [&amp;>li>.bullet]:before:flex [&amp;>li>.bullet]:text-dark/6 [&amp;>li>div_div]:mt-0 dark:[&amp;>li>.bullet]:text-light/6 max-w-3xl w-full mx-auto decoration-primary/6 page-api-block:ml-0">
        <li value="5" class="leading-normal">
            <div data-value="5" class="bullet ListItem_olListItemBullet__9X19L text-base"></div>
            <div class="space-y-2 flex-1 flex flex-col">
                <p class="max-w-3xl w-full mx-auto decoration-primary/6 leading-normal min-h-[1lh] flip-heading-hash">Verify the phone number you’ve added. A 6-digit verification code will be sent to the number. Enter the verification code once you receive it.</p>
            </div>
        </li>
    </ol>
    <div class="max-w-3xl w-full mx-auto decoration-primary/6 page-api-block:ml-0 flex flex-row gap-3 justify-center">
        <div class="relative overflow-hidden rounded straight-corners:rounded-none after:block after:absolute after:-inset-[0] after:border-dark/2 after:border after:rounded straight-corners:after:rounded-none dark:after:border-light/1 dark:after:mix-blend-plus-lighter after:pointer-events-none w-fit">
<a href=""><img src="assets/images/Screenshot_d10.png" style="max-width:100%"></a><br><br><br></div>
    </div>
    <p class="max-w-3xl w-full mx-auto decoration-primary/6 page-api-block:ml-0">Verify the phone number you’ve added </p>
    <ol class="space-y-2 flex flex-col [&amp;>li]:gap-[1ch] [counter-reset:list-decimal] [&amp;>li]:flex [&amp;>li]:flex-row [&amp;>li>.bullet]:tabular-nums [&amp;>li>.bullet]:whitespace-nowrap [&amp;>li>.bullet]:list-decimal [&amp;>li>.bullet]:before:h-[1lh] [&amp;>li>.bullet]:before:leading-[inherit] [&amp;>li>.bullet]:before:flex [&amp;>li>.bullet]:text-dark/6 [&amp;>li>div_div]:mt-0 dark:[&amp;>li>.bullet]:text-light/6 max-w-3xl w-full mx-auto decoration-primary/6 page-api-block:ml-0">
        <li value="6" class="leading-normal">
            <div data-value="6" class="bullet ListItem_olListItemBullet__9X19L text-base"></div>
            <div class="space-y-2 flex-1 flex flex-col">
                <p class="max-w-3xl w-full mx-auto decoration-primary/6 leading-normal min-h-[1lh] flip-heading-hash">Look at the Send and receive messages section. The number you’ve added will be shown.</p>
            </div>
        </li>
    </ol>
    <div class="max-w-3xl w-full mx-auto decoration-primary/6 page-api-block:ml-0 flex flex-row gap-3 justify-center">
        <div class="relative overflow-hidden rounded straight-corners:rounded-none after:block after:absolute after:-inset-[0] after:border-dark/2 after:border after:rounded straight-corners:after:rounded-none dark:after:border-light/1 dark:after:mix-blend-plus-lighter after:pointer-events-none w-fit">
<a href=""><img src="assets/images/Screenshot_d11.png" style="max-width:100%"></a><br><br><br></div>
    </div>
    <p class="max-w-3xl w-full mx-auto decoration-primary/6 page-api-block:ml-0">The phone number connected to your WhatsApp Cloud API account. </p>
    <p class="max-w-3xl w-full mx-auto decoration-primary/6 page-api-block:ml-0">You have connected your phone number with your WhatsApp Cloud API account! Now that you've set up WhatsApp Cloud API on your Facebook Developer Account, you need to connect it to Perfex WhatsApp Chat Module Platform to start sending and receiving
        messages</p>
</div>
                  </section>
				                    <br>
                  <br>
                  <section class="docs-section" id="item-3-4">
                     <h2 class="section-heading">Module's Settings</h2>
<div class="[&amp;>*+*]:mt-5 grid whitespace-pre-wrap">
    <p class="max-w-3xl w-full mx-auto decoration-primary/6 page-api-block:ml-0">You only need to fill three settings in order to have our module in working state.</p>
    <ol class="space-y-2 flex flex-col [&amp;>li]:gap-[1ch] [counter-reset:list-decimal] [&amp;>li]:flex [&amp;>li]:flex-row [&amp;>li>.bullet]:tabular-nums [&amp;>li>.bullet]:whitespace-nowrap [&amp;>li>.bullet]:list-decimal [&amp;>li>.bullet]:before:h-[1lh] [&amp;>li>.bullet]:before:leading-[inherit] [&amp;>li>.bullet]:before:flex [&amp;>li>.bullet]:text-dark/6 [&amp;>li>div_div]:mt-0 dark:[&amp;>li>.bullet]:text-light/6 max-w-3xl w-full mx-auto decoration-primary/6 page-api-block:ml-0">
        <li value="1" class="leading-normal">
            <div data-value="1" class="bullet ListItem_olListItemBullet__9X19L text-base"></div>
            <div class="space-y-2 flex-1 flex flex-col">
                <p class="max-w-3xl w-full mx-auto decoration-primary/6 leading-normal min-h-[1lh] flip-heading-hash">Navigate to <strong class="font-bold">Settings &gt; WhatsApp Official Chat </strong>menu link of the Perfex CRM's backend (Admin Area) and fill the necessary values in the respective fields.</p>
            </div>
        </li>
        <li value="2" class="leading-normal">
            <div data-value="2" class="bullet ListItem_olListItemBullet__9X19L text-base"></div>
            <div class="space-y-2 flex-1 flex flex-col">
                <p class="max-w-3xl w-full mx-auto decoration-primary/6 leading-normal min-h-[1lh] flip-heading-hash">All needed values can be obtained from your Application creation and Permanent Token creation processes, as described in the <strong class="font-bold">Facebook Application Creation steps above</strong>.</p>
            </div>
        </li>
    </ol>
    <div class="max-w-3xl w-full mx-auto decoration-primary/6 page-api-block:ml-0 flex flex-row gap-3 justify-center">
        <div class="relative overflow-hidden rounded straight-corners:rounded-none after:block after:absolute after:-inset-[0] after:border-dark/2 after:border after:rounded straight-corners:after:rounded-none dark:after:border-light/1 dark:after:mix-blend-plus-lighter after:pointer-events-none w-fit">
<a href=""><img src="assets/images/Screenshot_d12.png" style="max-width:100%"></a><br><br><br></div>
    </div>
    <ol class="space-y-2 flex flex-col [&amp;>li]:gap-[1ch] [counter-reset:list-decimal] [&amp;>li]:flex [&amp;>li]:flex-row [&amp;>li>.bullet]:tabular-nums [&amp;>li>.bullet]:whitespace-nowrap [&amp;>li>.bullet]:list-decimal [&amp;>li>.bullet]:before:h-[1lh] [&amp;>li>.bullet]:before:leading-[inherit] [&amp;>li>.bullet]:before:flex [&amp;>li>.bullet]:text-dark/6 [&amp;>li>div_div]:mt-0 dark:[&amp;>li>.bullet]:text-light/6 max-w-3xl w-full mx-auto decoration-primary/6 page-api-block:ml-0">
        <li value="3" class="leading-normal">
            <div data-value="3" class="bullet ListItem_olListItemBullet__9X19L text-base"></div>
            <div class="space-y-2 flex-1 flex flex-col">
                <p class="max-w-3xl w-full mx-auto decoration-primary/6 leading-normal min-h-[1lh] flip-heading-hash">Access your WhatsApp Business account in the Meta Developer Portal. Locate the "Menu" section and click on it to access the configuration settings.</p>
            </div>
        </li>
    </ol>
    <div class="max-w-3xl w-full mx-auto decoration-primary/6 page-api-block:ml-0 flex flex-row gap-3 justify-center">
        <div class="relative overflow-hidden rounded straight-corners:rounded-none after:block after:absolute after:-inset-[0] after:border-dark/2 after:border after:rounded straight-corners:after:rounded-none dark:after:border-light/1 dark:after:mix-blend-plus-lighter after:pointer-events-none w-fit">
<a href=""><img src="assets/images/Screenshot_d13.png" style="max-width:100%"></a><br><br><br></div>
    </div>
    <ol class="space-y-2 flex flex-col [&amp;>li]:gap-[1ch] [counter-reset:list-decimal] [&amp;>li]:flex [&amp;>li]:flex-row [&amp;>li>.bullet]:tabular-nums [&amp;>li>.bullet]:whitespace-nowrap [&amp;>li>.bullet]:list-decimal [&amp;>li>.bullet]:before:h-[1lh] [&amp;>li>.bullet]:before:leading-[inherit] [&amp;>li>.bullet]:before:flex [&amp;>li>.bullet]:text-dark/6 [&amp;>li>div_div]:mt-0 dark:[&amp;>li>.bullet]:text-light/6 max-w-3xl w-full mx-auto decoration-primary/6 page-api-block:ml-0">
        <li value="4" class="leading-normal">
            <div data-value="4" class="bullet ListItem_olListItemBullet__9X19L text-base"></div>
            <div class="space-y-2 flex-1 flex flex-col">
                <p class="max-w-3xl w-full mx-auto decoration-primary/6 leading-normal min-h-[1lh] flip-heading-hash">Click on the "Edit" button and enter the webhook URL and Verify Token obtained from the <strong class="font-bold">WhatsApp Official Chat Module</strong> after creating the application.</p>
            </div>
        </li>
    </ol>
    <div class="max-w-3xl w-full mx-auto decoration-primary/6 page-api-block:ml-0 flex flex-row gap-3 justify-center">
        <div class="relative overflow-hidden rounded straight-corners:rounded-none after:block after:absolute after:-inset-[0] after:border-dark/2 after:border after:rounded straight-corners:after:rounded-none dark:after:border-light/1 dark:after:mix-blend-plus-lighter after:pointer-events-none w-fit">
<a href=""><img src="assets/images/Screenshot_d14.png" style="max-width:100%"></a><br><br><br></div>
    </div>
    <ol class="space-y-2 flex flex-col [&amp;>li]:gap-[1ch] [counter-reset:list-decimal] [&amp;>li]:flex [&amp;>li]:flex-row [&amp;>li>.bullet]:tabular-nums [&amp;>li>.bullet]:whitespace-nowrap [&amp;>li>.bullet]:list-decimal [&amp;>li>.bullet]:before:h-[1lh] [&amp;>li>.bullet]:before:leading-[inherit] [&amp;>li>.bullet]:before:flex [&amp;>li>.bullet]:text-dark/6 [&amp;>li>div_div]:mt-0 dark:[&amp;>li>.bullet]:text-light/6 max-w-3xl w-full mx-auto decoration-primary/6 page-api-block:ml-0">
        <li value="5" class="leading-normal">
            <div data-value="5" class="bullet ListItem_olListItemBullet__9X19L text-base"></div>
            <div class="space-y-2 flex-1 flex flex-col">
                <p class="max-w-3xl w-full mx-auto decoration-primary/6 leading-normal min-h-[1lh] flip-heading-hash">Edit (Manage) Webhook fields and subscribe at <strong>messages</strong> event. All other events are optional and not used by our module, but you can still subscribe to them, if your app is used for other actions.<br><br><br>🎉 <strong>Congratulations!</strong><br>You are now ready to send and receive messages using the WhatsApp Cloud API through the <strong class="font-bold">WhatsApp Official Chat Module</strong>.</p>
            </div>
        </li>
    </ol>
</div>
                  </section>



               </article>
               <br><br>
               <br><br>
               <br><br>
               <br><br>
               <footer class="footer">
                  <div class="container text-center py-5"> <small class="copyright">WhatsApp Cloud API Interaction module is brought to you by &copy; <a href="https://1.envato.market/themesic" target="_blank">Themesic Interactive</a></small> </div>
               </footer>
            </div>
         </div>
      </div>
      <!--//docs-wrapper-->
      <!-- Javascript -->
      <script src="assets/plugins/popper.min.js"></script>
      <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
      <!-- Page Specific JS -->
      <script src="assets/plugins/smoothscroll.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js"></script>
      <script src="assets/js/highlight-custom.js"></script>
      <script src="assets/plugins/simplelightbox/simple-lightbox.min.js"></script>
      <script src="assets/plugins/gumshoe/gumshoe.polyfills.min.js"></script>
      <script src="assets/js/docs.js"></script>
   </body>
</html>